.torneopal_widget table {
  font-family: Ubuntu, Arial;
  border: 1px solid #aac;
}

.torneopal_widget .scoretable table {
  width: 400px;
}

.torneopal_widget th {
  text-align: center;
  background: #aac;
  color: #fff;
  padding: 4px 2px;
}

.torneopal_widget .scoretable th.team,
.torneopal_widget .scoretable td.team {
  text-align: left;
}

.torneopal_widget .scoretable td {
  text-align: center;
  background: #fff;
  padding: 4px 2px;
}

.torneopal_widget tr:nth-child(even) td {
  background: #eee;
}

.torneopal_widget #updated {
  display: none;
}
